<div class="container py-3 mt-5">
  <div class="row">
    <div class="mx-auto col-sm-6">
      <!-- form user info -->
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Editing Business Type</h4>
          <%= link_to 'Show', admin_business_type_path(@business_type), class: " pull-right show_btn btn btn-outline-primary" %>
        </div>
        <%= render 'form', business_type: @business_type %>  
      </div>
    </div>
  </div>
</div>        
